<!DOCTYPE html>
<html>
<head>
  <title>Hackathon</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>

  <%= yield :head %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div class="container-fluid">
    <%= yield %>
  </div>

</body>
</html>
